<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 my-5">
            <h1>{{ name }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 my-4">
          <h3>{{if editMode "Edit your" "Write a new"}} post</h3>
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            {{input value=titleInput class="form-control" placeholder="My Great Post"}}
          </div>
          <div class="form-group">
            <label for="postContent">Post Content</label>
            {{textarea value=contentInput class="form-control" cols="80" rows="6" placeholder="This had better be good!"}}
          </div>
          {{#if editMode}}
          <button class="btn btn-primary" type="submit" value="submit" {{action "updatePost" postToEdit}}>Update Post</button>
          {{else}}
          <button class="btn btn-primary" type="submit" value="submit" {{action "saveNewPost"}}>Save</button>
          {{/if}}
          <hr>
        </div>
    </div>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Post</th>
      <th scope="col">Title</th>
      <th scope="col">State</th>
      <th scope="col">Date Published</th>
      <th scope="col">Date Updated</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post index|}}
    <tr>
        <th scope="row">{{index}}</th>
        <td>{{post.title}}</td>
        <td>{{if post.post_published "Published" "Draft"}}</td>
        <td>{{unix post.created_at}}</td>
        <td>{{post.updated_at}}</td>
        <td>

        {{#if post.post_published}}
        <button class="btn btn-success" {{action "postToDraft" post}}>Set to Draft</button>
        {{else}}

        {{#if post.postToDelete}}
        <button class="btn btn-danger" {{action "deletePost" post}}>Really?</button>
        <button class="btn btn-secondary" {{action "cancelDeletePost" post}}>Cancel</button>
        {{else}}
        <button class="btn btn-secondary" {{action "postToPublished" post}}>Publish</button>
        <button class="btn btn-danger" {{action "setDeletePost" post}}>Delete</button>
        <button class="btn btn-primary" data-toggle="modal" data-target=".editModal" {{action "editPost" post}}>Edit</button>
        {{/if}}

        {{/if}}

        </td>

    </tr>
    {{/each}}
    </tbody>
</table>

<div class="modal fade editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
    
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>