<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 my-5">
            <h1>{{ name }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 my-4">
          <h3>{{if editMode "Edit your" "Write a new"}} post</h3>
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            {{input value=titleInput class="form-control" placeholder="My Great Post"}}
          </div>
          <div class="form-group">
            <label for="postContent">Post Content</label>
            {{textarea value=contentInput class="form-control" cols="80" rows="6" placeholder="This had better be good!"}}
          </div>
          {{#if editMode}}
          <button class="btn btn-primary" type="submit" value="submit" {{action "updatePost" postToEdit}}>Update Post</button>
          {{else}}
          <button class="btn btn-primary" type="submit" value="submit" {{action "saveNewPost"}}>Save</button>
          {{/if}}
          <hr>
        </div>
    </div>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Post</th>
      <th scope="col">Title</th>
      <th scope="col">State</th>
      <th scope="col">Date Published</th>
      <th scope="col">Date Updated</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post index|}}
    <tr>
        <th scope="row">{{index}}</th>
        <td>{{post.title}}</td>
        <td>{{if post.post_published "Published" "Draft"}}</td>
        <td>{{unix post.created_at}}</td>
        <td>{{post.updated_at}}</td>
        <td>

        {{#if post.post_published}}
        <button class="btn btn-success" {{action "postToDraft" post}}>Set to Draft</button>
        {{else}}

        {{#if post.postToDelete}}
        <button class="btn btn-danger" {{action "deletePost" post}}>Really?</button>
        <button class="btn btn-secondary" {{action "cancelDeletePost" post}}>Cancel</button>
        {{else}}
        <button class="btn btn-secondary" {{action "postToPublished" post}}>Publish</button>
        <button class="btn btn-danger" {{action "setDeletePost" post}}>Delete</button>
        {{#link-to "admin.edit" post.id class="btn btn-secondary" role="button" data-toggle="modal" data-target="#exampleModalLong" action=editPost}}Edit{{/link-to}}

        {{/if}}

        {{/if}}

        </td>

    </tr>
    {{/each}}
    </tbody>
</table>

    
</div>

{{outlet}}
