
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center">Get Your Mother Effin Posts Here</h1>
        </div>
    </div>
    <div class="row">
        {{#each model as |post|}}

        {{#if post.post_published }}
          <div class="col-md-4">

          <div class="card my-3" id="postCard">
            <img src="{{post.featured_image}}?image={{post.id}}" class="card-img-top img-fluid published">
                <div class="card-body">
                    <h5 class="card-title text-black">
                    {{post.title}}
                    </h5>
                    <p class="small">{{unix post.created_at}}</p>
                    <p>{{markdown-to-html post.content}}</p>
                </div>
            </div>

          </div>
          {{/if}}
        {{/each}}

  </div>
</div>